body {
  margin: 0;
}

#contenedor {
  position: absolute;
  background-color: aliceblue;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

#contenedor-1 {
  margin: 50px 20px;
}

#contenedor-1__text {
  height: 90%;
  padding: 0 20%;
}

#contenedor-1__btn {
  display: flex;
  justify-content: space-evenly;
}

#contenedor-2 {
  margin: 50px 20px;

  background-color: white;
  border-radius: 0.8rem;
}

#contenedor-2__text {
  height: 90%;
}

#contenedor-2__btn {
  text-align: center;
}

.boton {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(34, 34, 158);
  border-radius: 0.8rem;

  padding: 0.5rem 0;
  width: 200px;
}

.boton-principal {
  background-color: rgb(34, 34, 158);
  color: white;
}

.contenedor__text-area {
  font-size: 24px;
  background-color: transparent;
  width: 90%;
  height: 90%;
  margin: 10px 0 0 10px;

  resize: none;
  border: none;
}

.contenedor__text-area:focus {
  outline: none;
}
