body {
  margin: 0;
}

#contenedor {
  position: absolute;
  background-color: aliceblue;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

#contenedor-1 {
  margin: 50px 20px;
}

#contenedor-1__text {
  height: 90%;
}

#contenedor-1__text-area {
  width: 95%;
  height: 97%;
  margin: 10px 0 0 10px;

  resize: none;
  border: none;
}

#contenedor-1__btn {
  display: flex;
  justify-content: space-evenly;
}

#contenedor-2 {
  margin: 50px 20px;

  background-color: white;
  border-radius: 0.8rem;
}

#contenedor-2::after {
  content: "";
  position: absolute;
  
  
  background-color: black;
  width: 100%;
  height: 1px;
}

#contenedor-2__text {
  height: 90%;
}

#contenedor-2__btn {
  text-align: center;
}

.boton {
  background-color: transparent;
  border: 1px solid rgb(34, 34, 158);
  border-radius: 0.8rem;

  padding: 0.5rem 0;
  width: 200px;
}
